.title {
	font-size: 28px;
	font-weight: 600;
	color: #000000;
	text-align: center;
	margin: 20px 0;
	letter-spacing: 1px;
}

.loading {
	width: 50px;
	height: 50px;
	border: 6px solid #ccc;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
